{{ ansible_managed | comment }}

[main]
include={{ item.1 }}
summary={{ item.1 }} + TCP/RAID tweaks + AMDGPU {{ item.0 }}

[variables]
include=/etc/tuned/amdgpu-profile-vars.conf

# reference/execute AMDGPU control script
# used because some sysfs interfaces are transactional
# cannot be set by a single param in 'tuned'/[sysfs]
[gpuclockscript]
type=script
script={{ (tuned_amdgpu_profile_dir, 'amdgpu-clock.sh') | ansible.builtin.path_join }}
{# call the state-managing script with the selected profile, item.0, as an argument #}
{% if tuned_amdgpu_plugins is defined %}
{% for section, options in tuned_amdgpu_plugins.items() %}
{#+ give each plugin section some space +#}
[{{ section }}]
{% for key, value in options.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
